.sidebar {
    width: 220px !important;


}

.element {
    cursor: pointer;
    font-size: 18px;
    margin-left: 18px;
    background: linear-gradient(to right, #3a2fb4, #7bfea4);
    /* gradient colors */
    -webkit-background-clip: text;
    /* clip background to text */
    -webkit-text-fill-color: transparent;
    /* make text transparent so gradient shows */
    transition: all 0.3s ease;

}

.element:hover {
    background: linear-gradient(to right, #ff512f, #dd2476);
    -webkit-background-clip: text;
    transform: translateX(5px);
}

.icon {
    color: rgba(59, 26, 190, 1)
}

.element:hover .icon {
    color: #ff512f;
}

.childWrapper {
    max-height: 0;
    overflow: hidden;
    transform: translateY(-5px);

    transition:
        max-height 0.65s ease,
        transform 0.25s ease;

}

.open {
    max-height: 300px;
    /* large enough */

}