.sidebar {
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: #fff;
}


.element {
    cursor: pointer;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 8px;

    background: transparent;
    color: #3a2fb4;

    transition: all 0.3s ease;
    padding: 6px 10px 6px 20px;
    border-radius: 12px;
    height: 43px;

    display: flex;
    align-items: center;
}


.element:hover {
    background: linear-gradient(to right, #3a2fb4, #7bfea4);
    color: white;
}

.active {
    background: linear-gradient(to right, #3a2fb4, #7bfea4);
    color: white;
}


.icon {
    color: #3a2fb4;
}

.element:hover .icon,
.active .icon {
    color: white;
}




.childWrapper {
    max-height: 0;
    overflow: hidden;
    transform: translateY(-5px);

    transition:
        max-height 0.65s ease,
        transform 0.25s ease;

}

.childElement {
    border-radius: 12px;
    background: transparent;
    color: #3a2fb4;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
    height: 39px;
    padding: 6px 10px 6px 20px;
    
    

}

.childElement:hover {
    background: linear-gradient(to right, #d0cfd2, #c9cecb);
    color: white;
}
.childActive{
      background: linear-gradient(to right, #d0cfd2, #c9cecb);
    color: white;
}

.open {
    max-height: 300px;
    /* large enough */

}


.mobileToggle {
    position: fixed;
    top: 15px;
    left: 15px;
    background: white;
    border: none;
    padding: 6px;
    border-radius: 6px;
    /* z-index: 3; */
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    .sidebar {
        transform: translateX(0);
    }

    .mobileToggle {
        display: none;
    }
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .openSidebar {
        transform: translateX(0);
    }
}

.openSidebar {
    transform: translateX(0);
    transition: transform 0.3s ease;

}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}